# Test data generator

## Init

In [26]:
import os

os.getcwd()

'c:\\Users\\mavia\\Documents\\code\\python\\robot_racine\\test_files'

## Imports

In [53]:
import pandas as pd
import numpy as np
import json
from uuid import uuid4
import random
from datetime import datetime as dt
import datetime
import time

## Create test data_ins

### Data In 1

In [28]:
df1_plant_count = 30
df1 = pd.DataFrame(
    data={
        "experiment": ["rr_test_1_2003" for _ in range(df1_plant_count)],
        "plant_name": [f"test_1_plant_{i+1}" for i in range(df1_plant_count)],
        "position": [i + 1 for i in range(df1_plant_count)],
        "allow_capture": [
            random.randint(0, 1) == 1 for i in range(df1_plant_count)
        ]
    }
)
df1.to_csv("./data_in_exp_1.csv", index=False)
df1.head()

       experiment      plant_name  position  allow_capture
0  rr_test_1_2003  test_1_plant_1         1          False
1  rr_test_1_2003  test_1_plant_2         2           True
2  rr_test_1_2003  test_1_plant_3         3          False
3  rr_test_1_2003  test_1_plant_4         4          False
4  rr_test_1_2003  test_1_plant_5         5          False

### Data In 2

In [29]:
df2_plant_count = 20
df2 = pd.DataFrame(
    data={
        "experiment": ["rr_test_2_2003" for _ in range(df2_plant_count)],
        "plant_name": [f"test_2_plant_{i+1}" for i in range(df2_plant_count)],
        "position": [i + 1 for i in range(df2_plant_count)],
        "allow_capture": [
            random.randint(0, 1) == 1 for i in range(df2_plant_count)
        ]
    }
)
df2.to_csv("./data_in_exp_2.csv", index=False)
df2.head()

       experiment      plant_name  position  allow_capture
0  rr_test_2_2003  test_2_plant_1         1           True
1  rr_test_2_2003  test_2_plant_2         2          False
2  rr_test_2_2003  test_2_plant_3         3           True
3  rr_test_2_2003  test_2_plant_4         4          False
4  rr_test_2_2003  test_2_plant_5         5           True

### Data In 3

In [30]:
df3_plant_count = 20
df3 = pd.DataFrame(
    data={
        "experiment": ["rr_test_3_2003" for _ in range(df3_plant_count)],
        "plant_name": [f"test_3_plant_{i+1}" for i in range(df3_plant_count)],
        "position": [i + 1 + df2_plant_count for i in range(df3_plant_count)],
        "allow_capture": [
            random.randint(0, 1) == 1 for i in range(df3_plant_count)
        ]
    }
)
df3.to_csv("./data_in_exp_3.csv", index=False)
df3.head()

       experiment      plant_name  position  allow_capture
0  rr_test_3_2003  test_3_plant_1        21          False
1  rr_test_3_2003  test_3_plant_2        22           True
2  rr_test_3_2003  test_3_plant_3        23           True
3  rr_test_3_2003  test_3_plant_4        24          False
4  rr_test_3_2003  test_3_plant_5        25           True

## Create test jobs

In [35]:
list(df1.plant_name)

['test_1_plant_1',
 'test_1_plant_2',
 'test_1_plant_3',
 'test_1_plant_4',
 'test_1_plant_5',
 'test_1_plant_6',
 'test_1_plant_7',
 'test_1_plant_8',
 'test_1_plant_9',
 'test_1_plant_10',
 'test_1_plant_11',
 'test_1_plant_12',
 'test_1_plant_13',
 'test_1_plant_14',
 'test_1_plant_15',
 'test_1_plant_16',
 'test_1_plant_17',
 'test_1_plant_18',
 'test_1_plant_19',
 'test_1_plant_20',
 'test_1_plant_21',
 'test_1_plant_22',
 'test_1_plant_23',
 'test_1_plant_24',
 'test_1_plant_25',
 'test_1_plant_26',
 'test_1_plant_27',
 'test_1_plant_28',
 'test_1_plant_29',
 'test_1_plant_30']

In [55]:
job_list = {
    "jobs": [
        {
            "name": "Job 1",
            "state": "active",
            "guid": str(uuid4()),
            "description": "Job executed with all plants from test experiment 1",
            "owner": "no one",
            "mail_to": [
                "no_one@some.mail", 
                "no_two@some.mail", 
                "no_three@some.mail"
            ],
            "plants": list(df1.plant_name),
            "repetition_mode": "every",
            "repetition_unit": "minutes",
            "repetition_value": 30,
            "timestamp_start": dt.now().strftime("%Y/%m/%d %H:%M:%S"),
            "timestamp_end": (
                dt.now() 
                + datetime.timedelta(days=10)
            ).strftime("%Y/%m/%d %H:%M:%S")
        },
        {
            "name": "Job 2",
            "state": "active",
            "guid": str(uuid4()),
            "description": "Job executed with all plants from test experiment 2",
            "owner": "two one",
            "mail_to": ["two_one@some.mail"],
            "plants": list(df2.plant_name),
            "repetition_mode": "at",
            "repetition_unit": "hours",
            "repetition_value": 8,
            "timestamp_start": dt.now().strftime("%Y/%m/%d %H:%M:%S"),
            "timestamp_end": (
                dt.now() 
                + datetime.timedelta(weeks=10)
            ).strftime("%Y/%m/%d %H:%M:%S")
        },
        {
            "name": "Job 3",
            "state": "active",
            "guid": str(uuid4()),
            "description": "Job executed with all plants from test experiment 3",
            "owner": "some one",
            "mail_to": [
                "that_one@some.mail",
                "those_two@some.mail",
                "thee_three@some.mail"
            ],
            "plants": list(df3.plant_name),
            "repetition_mode": "every",
            "repetition_unit": "day",
            "repetition_value": 1,
            "timestamp_start": dt.now().strftime("%Y/%m/%d %H:%M:%S"),
            "timestamp_end": (
                dt.now() 
                + datetime.timedelta(weeks=5)
            ).strftime("%Y/%m/%d %H:%M:%S")
        },
        {
            "name": "Job 4",
            "state": "active",
            "guid": str(uuid4()),
            "description": "Job executed with all plants from test experiment 2 &3",
            "owner": "mehh",
            "mail_to": ["hi@some.mail", "ha@some.mail", "hu@some.mail"],
            "plants": list(df2.plant_name) + list(df3.plant_name),
            "repetition_mode": "at",
            "repetition_unit": "minutes",
            "repetition_value": 15,
            "timestamp_start": dt.now().strftime("%Y/%m/%d %H:%M:%S"),
            "timestamp_end": (
                dt.now() 
                + datetime.timedelta(days=4)
            ).strftime("%Y/%m/%d %H:%M:%S")
        },
        {
            "name": "Job 5",
            "state": "active",
            "guid": str(uuid4()),
            "description": "Job executed with plants from test experiment 2 & 3",
            "owner": "mehh two",
            "mail_to": ["mi2@some.mail", "ha@some.mail", "hu@some.mail"],
            "plants": list(df2.plant_name)[:15] + list(df3.plant_name)[5:],
            "repetition_mode": "at",
            "repetition_unit": "minutes",
            "repetition_value": 15,
            "timestamp_start": "2020/04/03 15:00:48",
            "timestamp_end": (
                dt.now() 
                + datetime.timedelta(weeks=2)
            ).strftime("%Y/%m/%d %H:%M:%S")
        }
    ]
}

In [56]:
with open("./test_jobs.json", "w") as f:
    json.dump(job_list, f, indent=2)

## Create test log

In [47]:
jobs_count = 100
logs = []
for _ in range(jobs_count):
    idx = random.randint(0, len(job_list["jobs"]) - 1)
    start_time = dt.now().strftime("%Y%m%d %H:%M:%S")
    time.sleep(random.randint(1, 5))
    end_time = dt.now().strftime("%Y%m%d %H:%M:%S")
    logs.append(f"{start_time} - {job_list['jobs'][idx]['name']} Started")
    logs.append(f"{end_time} - {job_list['jobs'][idx]['name']} Ended")
    time.sleep(random.randint(1, 5))

In [49]:
logs[10:15]

['20200326 16:41:15 - Job 4 Started',
 '20200326 16:41:19 - Job 4 Ended',
 '20200326 16:41:20 - Job 3 Started',
 '20200326 16:41:22 - Job 3 Ended',
 '20200326 16:41:26 - Job 2 Started']

In [50]:
with open("./test_logs.txt", "w") as outfile:
    outfile.write("\n".join(logs))